.entry.with-avatars .comment .quote {
    background-size: 100%;
    border-radius:   25%;
    width:           18px !important;
    height:          18px !important;
}

.entry.with-avatars .comment .content {
    margin-left: 24px !important;
    min-height:  18px;
}

.light-box-shadow {
    position:        fixed;
    top:             0;
    left:            0;
    width:           100%;
    height:          100%;
    display:         flex;
    justify-content: center;
    align-items:     center;
    z-index:         100;
    cursor:          zoom-out;
    background:      rgba(0, 0, 0, 0.4);
}

.light-box-container {
    width:           90%;
    height:          90%;
    display:         flex;
    justify-content: center;
    align-items:     center;
}

.light-box-img {
    border:           1px solid #000;
    box-shadow:       1px 1px 10px rgba(0, 0, 0, 0.5);
    max-width:        100%;
    max-height:       100%;
    margin:           auto;
    background-color: #ffffff;
    cursor:           pointer;
}

.light-box-iframe {
    background: #fff;
    width:      100%;
    height:     100%;
}

.light-box-thumbnail {
    cursor: zoom-in;
}

.ups:hover {
    background: #def;
}

.ups {
    display:       inline-block;
    background:    #eee;
    padding:       0 0.25em;
    border-radius: 0.25em;
    cursor:        default;
}

.ups[data-hl-selector^='#'] {
    cursor: pointer;
}

.comment.highlighted > .content,
.comment:target > .content {
    background-color: #def;
}

.comment.highlighted .ups {
    background: none;
}

.comment {
    position: relative;
}

.hl-authors-comments .comment-from-post-author::before {
    content:  "•";
    color:    #aaa;
    position: absolute;
    top:      -3px;
    left:     -7px;
}

.hl-authors-comments .with-avatars .comment-from-post-author::before {
    top:  1px;
    left: -10px;
}

.with-avatars .comment.friend .quote {
    border-bottom: 2px solid #0c0;
    box-shadow:    inset 0 -2px 1px -1px white;
}

.with-avatars .comment.owner .quote {
    border-bottom: 2px solid #F80;
}

.comments {
    counter-reset: comment;
}

.comment {
    counter-increment: comment;
}

.comment::after {
    content:    counter(comment) ".";
    position:   absolute;
    left:       -3em;
    top:        0;
    width:      2em;
    text-align: right;
    font-size:  85%;
    color:      #999;
    display:    none;
}

.comment:hover::after {
    display: block;
}

.comment.bottomcomment:hover::after {
    display: none;
}

a.l_play {
    position: relative;
}

a.l_play + div.l_play {
    display: none;
}

a.l_play::after {
    content:     url("//friendfeed.com/static/images/playbutton.png?v=e094");
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-left: -15px;
    margin-top:  -15px;
}

.container[playing] > a.l_play::after {
    content: url("//friendfeed.com/static/images/stopbutton.png?v=a009");
}

