<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>fixNames</string>
		<key>Title</key>
		<string>Заменять юзернеймы на логины</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>replyLinks</string>
		<key>Title</key>
		<string>Ответ по щелчку на «облачко»</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>withAvatars</string>
		<key>Title</key>
		<string>Юзерпики вместо «облачков» около комментариев</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>highlightRefComments</string>
		<key>Title</key>
		<string>Подсвечивать комментарии по наведению на логин</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>highlightAuthorComments</string>
		<key>Title</key>
		<string>Помечать комментарии автора поста точкой слева</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>openImages</string>
		<key>Title</key>
		<string>Открывать изображения в браузере</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>lightBoxedImages</string>
		<key>Title</key>
		<string>Открывать изображения в «лайтбоксе»</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>killDuck</string>
		<key>Title</key>
		<string>Не показывать утку в теме «Duck Hunt»</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
